{%- include "tdd_mode/subtemplates/rules_header.jinja" %}
{%- include "tdd_mode/subtemplates/task_section.jinja" %}
{%- include "tdd_mode/subtemplates/context_block.jinja" %}
{%- include "tdd_mode/subtemplates/refactor_flags.jinja" %}
{%- include "tdd_mode/subtemplates/output_expectations.jinja" %}
{%- include "tdd_mode/subtemplates/commit_footer.jinja" %}

{# 👇 TDD Execution Block Starts Here (Specify Red, Green, or Refactor intent) #}

</rewritten_file> 